@{
	ViewBag.Title = "Home";
}

<h1 class="display-4 text-center">My <a href="https://store.steampowered.com" target="_blank" style="font-weight: bold; color: steelblue; text-underline-color: steelblue;text-underline-offset: 10px">Game</a> Site</h1>
<p class="text-center">Created using <a href="https://docs.microsoft.com/aspnet/core" target="_blank" style="font-weight: bold; color: white; text-decoration-thickness: 3px">ASP.NET Core</a></p>